/* Allow for responsive font scaling */
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

html body {
  background:white;
  overflow-x: hidden;
  height:100%;
}

#body {
  padding-top: 30px;
  background: white;
  padding-bottom: 30px;
  height:100%;
}

.navItemLeft {
  margin-left:auto
}



.val-error {
  color: red;
}

.val-success {
  color: green;
}


.card-header { 
  padding:0px; 
  border-width:0px;
}


.trashButton { 
  float:right; 
  border-bottom:2px;
}

.inlineDisplay{
  display: inline;
}

.nmapscan {
    background-color:#563d7c;
}

.dnsscan {
  background-color:#18AB54;
}

.idsscan {
  background-color:#18ABA1;
}

.noTextDec {
  text-decoration:none;
}



/* 
body {
  background: rgba(148, 7, 32, 1.0);
  background: -webkit-linear-gradient(top left, rgba(148, 7, 32, 1.0), rgba(66, 5, 212, 1.0));
  background: -moz-linear-gradient(top left, rgba(148, 7, 32, 1.0), rgba(66, 5, 212, 1.0));
  background: linear-gradient(to bottom right, rgba(148, 7, 32, 1.0), rgba(66, 5, 212, 1.0));
}

#body {
  background: white;
} */

